bld-arm
bld-sh4
bld-x86
*.o
*.a
export
pkgsrc-*
pkgout-*
Makefile.in
autom4te.cache
aclocal.m4
config.h.in*
configure
go-trunk
ltmain.sh
m4
!bnp/buildtools/m4
bnp/buildtools/m4/config/config.guess
bnp/buildtools/m4/config/config.sub
bnp/buildtools/m4/config/depcomp
bnp/buildtools/m4/config/install-sh
bnp/buildtools/m4/config/ltmain.sh
bnp/buildtools/m4/config/missing
.keep
